########################################################
title=[COLOR=blue]Source 1[/COLOR]
type=command
genre=Live TV Channels
director=Nitro Movies
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=RunAddon(plugin.video.stalker,genre_id=%2a&genre_name=All&mode=channels&portal=%7b%22name%22%3a%20%22NFPS%22%2c%20%22parental%22%3a%20%22false%22%2c%20%22url%22%3a%20%22http%3a%2f%2fportal.iptvprivateserver.tv%22%2c%20%22mac%22%3a%20%22%22%2c%20%22serial%22%3a%20null%2c%20%22password%22%3a%20%220000%22%7d)
########################################################
title=[COLOR=blue]Source 2[/COLOR]
director=ilive.to
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=customs/ilive.to.cfg
########################################################
