################################################################################################################
title=[COLOR=blue]Live Fights [/COLOR]
director=Nitro Sports
cfg=Various/nflgames.cfg@Channels@http://dl.dropbox.com/s/8wiqmdt1hpe6x77/PPVs.xml
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=http://dl.dropbox.com/s/tcd3v7yf0bjhas9/MainMenu.xml
########################################################
title=[COLOR=blue]TSN Go[/COLOR]
type=rss
genre=Live Sports
director=Nitro Sports
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=Go/Menu.cfg
########################################################
title=[COLOR=blue]Custom Sports Networks[/COLOR]
director=DragonStreams
cfg=Various/Calender.cfg@Channels@http://dl.dropbox.com/s/0tjlilcyesfafq3/SportsNet1.xml
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=http://dl.dropbox.com/s/8bdj12jq75ckdyz/SportsNet1.xml
########################################################
########################################################
title=[COLOR=blue]Sports List 1 Schedule[/COLOR]
director=Nitro Sports
cfg=Various/SportsListA.cfg@Channels@http://dl.dropbox.com/s/sn9ibujdxbkzx8t/Calander.xml
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=http://dl.dropbox.com/s/qqktdllg2t6124h/P1Sch.xml
########################################################
title=[COLOR=blue]Sports List 1 Channels[/COLOR]
director=Nitro Sports
cfg=Various/SportsListA.cfg@Channels@http://dl.dropbox.com/s/hpxf5yfegn1mb76/Streams.xml
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=http://dl.dropbox.com/s/hpxf5yfegn1mb76/Streams.xml
########################################################
title=[COLOR=blue]Sports List 2[/COLOR]
director=Nitro Sports
cfg=Various/SportsListB.cfg@Channels@http://dl.dropbox.com/s/bsiqz8t3hpklef1/KOSMain.xml
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=http://dl.dropbox.com/s/qqjhv9ed7rjmfwv/KOSMain.xml
########################################################
title=[COLOR=blue]PAC Networks[/COLOR]
director=Nitro Sports
cfg=Various/Calender.cfg@Channels@http://dl.dropbox.com/s/ek2ckigwlka7nuj/PAC.xml
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=http://dl.dropbox.com/s/ek2ckigwlka7nuj/PAC.xml
#######################################################
#title=[COLOR=blue]NFL Streams[/COLOR]
#cfg=Varoius/NFLDirectory.cfg@Channels
#icon=special://home/addons/plugin.video.nitro.sports/icon.png
#url=http://intech-av.com/K1m05/EStreams/Other/NFL.xml
#######################################################
title=[COLOR=blue]Sports Site Scrapers[/COLOR]
type=rss
genre=TV
director=Nitro Streams
icon=special://home/addons/plugin.video.nitro.sports/icon.png
url=tv.cfg
#######################################################

